    <footer id="footer" class="top-space">
      <div class="footer1">
        <div class="container">
          <div class="row">
            <div class="col-md-3 widget">
              <h3 class="widget-title">Contact</h3>
              <div class="widget-body">
                <p>Phone: (412) 429-6400
                  <br>Fax: (412) 429-6450<br>
                  <!-- <a href="mailto:#">contact@leadwithcornerstone.com</a><br> -->
                  <br>
                  212 Mary Street, Carnegie, PA 15106
                </p>
              </div>
            </div>
            <div class="col-md-3 widget">
              <h3 class="widget-title">Follow us</h3>
              <div class="widget-body">
                <p class="follow-me-icons">
                  <a href="https://www.linkedin.com/company/5257172?trk=tyah&trkInfo=idx%3A1-1-1%2CtarId%3A1424283176208%2Ctas%3Acornerstone+management+resource+sys"><i class="fa fa-linkedin-square" style="color:#0077B5"></i></a>
                  <a href=" http://www.twitter.com/cornerstone_LD"><i class="fa fa-twitter fa-2" style="color:#55ACEE"></i></a>
                </p>
              </div>
            </div>
            <div class="col-md-6 widget">
              <h3 class="widget-title">The Psychology of Assessment Centers</h3>
              <div id="leftCol_1" style="float: left; width: 130px;">
                <a href="http://www.amazon.com/Psychology-Assessment-Centers-Duncan-Jackson/dp/0415878144/ref=sr_1_1?ie=UTF8&qid=1424973086&sr=8-1&keywords=the+psychology+of+assessment+centers"><img src="/images/book.png"></a>
              </div>
              <div id="leftCol_2">
                If you’ve ever wondered what exactly the differences are between Dimension-Based Assessment Centers (DBACs) and Task-Based Assessment Centers (TBACs), this is the book to read! Joe and Carl share the advantages of the TBAC methodology, as well as how it can be implemented into any organization for developing future leaders.
                BUY NOW – on Amazon.com!
              </div>
              <br>
              <a href="http://www.amazon.com/Psychology-Assessment-Centers-Duncan-Jackson/dp/0415878144/ref=sr_1_1?ie=UTF8&qid=1424973086&sr=8-1&keywords=the+psychology+of+assessment+centers">
              <img src="/images/amazon.png"></a>
            </div>
          </div>
          <!-- /row of widgets -->
        </div>
      </div>
      <div class="footer2">
        <div class="container">
          <div class="row">
            <div class="col-md-6 widget">
              <div class="widget-body">
                <p class="simplenav">
                  <%= link_to 'Home', '/index.html' %> &nbsp;
                  <%= link_to 'Our Approach', '/approach.html' %> &nbsp;
                  <%= link_to 'Meet the Team', '/meet.html' %> &nbsp;
                  <%= link_to 'About', '/about.html' %> &nbsp;
                  <%= link_to 'Contact Us', '/contact.html' %> &nbsp;
                  <%= link_to 'Ready Day One', '/readydayone.html' %> &nbsp;
                  <%= link_to 'SIGN IN', 'https://www.readydayone.com/app/signin' %> &nbsp;
                </p>
              </div>
            </div>
            <div class="col-md-6 widget">
              <div class="widget-body">
                <p class="text-right">
                  Copyright &copy; 2016, Cornerstone. Designed by Alex Loya &amp; 
                  <a href="https://savvysoftworks.com/" class="savvy_link" target="_blank">SavvySoftWorks, LLC</a>
                </p>
              </div>
            </div>
          </div>
          <!-- /row of widgets -->
        </div>
      </div>
    </footer>