<div class="cornerstone_nav">
  <div class="navbar navbar-inverse animated slidedown" >
    <div class="container">
      <div class="navbar-header">
        <!-- Button for smallest screens -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
        <%= link_to image_tag("/images/cornerstone_logo_300.png"), '/index.html' %>
        <!-- <a class="navbar-brand" href="index"><a href="/2015"><img src="/images/cornerstone_logo_300.png" alt="Cornerstone"></a></a> -->
      </div>
      <!--.nav-collapse -->
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav pull-right">
          <li><%= link_to 'Home', '/index.html' %></li>
          <li><%= link_to 'Our Approach', '/approach.html' %> </li>
          <li><%= link_to 'Meet the Team', '/team.html' %></li>
          <li><%= link_to 'About', '/about.html' %></li>
          <li><%= link_to 'Contact Us', '/contact.html' %></li>
          <li><%= link_to 'Ready Day One', '/readydayone.html' %></li>
          <li><%= link_to 'SIGN IN', 'http://www.readydayone.com/users/sign_in' %></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </div>
</div>