---
title: Cornerstone | Leadership Development Insights
layout: leadership_developments
---
<div class="leadership-developments">
  <div class="blog container" id="leadership-developments">
    <div class="blog_column col-sm-12">
      <h3 style="text-align: center; padding-bottom:1em;">LEADERSHIP DEVELOPMENT INSIGHTS</h3>
      <div class="row">
          <% blog('leadership-developments').articles.each do |article| %>
            <article class="col-sm-12" style="padding-bottom: 2em;">
              <h3 class="text-left">
                <a href="<%= article.url %>"><%= article.title %></a>
                <i class="fa fa-link"></i>
              </h3>
              <p>
                <%= article.data.author %>
              <p>
                Published <time><%= article.date.strftime('%b %e %Y') %></time>
              </p>

              <%= article.summary(150, '...') %>
              <a href="<%= article.url %>" style="color: #FF7722; padding-top: 0px; float: right;">Read more</a>
             
            </article>
          <% end %>
        </div>
    </div>
  </div>
</div>
