---
title: Cornerstone | Leadership Development Insights
layout: leadership_developments
---
<div class="leadership-developments">
  <div class="blog container" id="leadership-developments">
    <div class="blog_column col-sm-12">
      <h3 style="text-align: center; padding-bottom:1em;">LEADERSHIP DEVELOPMENT INSIGHTS</h3>
      <div class="row">
          <% [blog('leadership_developments').articles.first].each do |article| %>
            <article class="col-sm-12" style="padding-bottom: 2em;">
              <h3 class="text-left">
                <a href="<%= article.url %>"><%= article.title %></a>
                <i class="fa fa-link"></i>
              </h3>
              <p>
                <%= article.data.author %>
              <p>
                Published <time><%= article.date.strftime('%b %e %Y') %></time>
              </p>

              <%= article.body %>
              <!-- <p>
                <a href="<%= article.url %>" style="color: #FF7722; padding-top: 0px; padding-right: 4em; float: right;">Read more</a>
              </p> -->
            </article>
          <% end %>
        </div>
    </div>
  </div>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-84135483-5', 'auto');
  ga('send', 'pageview');
</script>
